SECRET_KEY=secret_jwt_key_32_bytes_long_secure_token_key_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=sqlite:///./password_manager.db
ENCRYPTION_KEY=6b701726a42a420b923a1a4572218084a329d0bc2611e938f381f253818e5472
